[submodule "fsm/vendor/gtest"]
	path = fsm/vendor/gtest
	url = https://github.com/google/googletest.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
